<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-md-12">


        <mat-toolbar color="primary">
            <span>Application</span>    
          <!--
            <div class="bar-item">
            <a  mat-flat-button  color="primary" href="#">Auth0 - Angular</a>
          </div>
        -->
          <div class="bar-item">
            <button mat-flat-button
            color="primary"
            routerLink="/">
              Home
          </button>
        </div>
        <div class="bar-item">
            <button mat-flat-button
            color="primary"
              routerLink="/armies"
              *ngIf="auth.isAuthenticated()">
                Armies
            </button>
          </div>
          <div class="bar-item">
          <button mat-flat-button
          color="primary"
            routerLink="/units"
            *ngIf="auth.isAuthenticated()">
              Units
          </button>
        </div>
          <div class="bar-item">
              <button
              mat-flat-button  color="primary"
                routerLink="/weapons"
                *ngIf="auth.isAuthenticated()">
                  Weapons
              </button>
        </div>
        <div class="bar-item">
          <button
          mat-flat-button  color="primary"
            routerLink="/test"
            *ngIf="auth.isAuthenticated()">
              Test
          </button>
    </div>

        <span class="example-spacer"></span>
        <div class="bar-item">
            <button
            mat-flat-button  color="primary"
            routerLink="/account"
              *ngIf="auth.isAuthenticated()">

                Account
            </button>
          </div>

          <div class="bar-item">
          <button
          mat-flat-button  color="primary"
            *ngIf="!auth.isAuthenticated()"
            (click)="auth.login()">
              Log In
          </button>
        </div>
          <div class="bar-item">
          <button
          mat-flat-button  color="primary"
            *ngIf="auth.isAuthenticated()"
            (click)="auth.logout()">
              Log Out
          </button>
        </div>
          
          </mat-toolbar>



<!--
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
   
      </div>
    </div>
  </nav>
-->

    <div *ngIf="auth.isAuthenticated(); else notLoggedIn">

      <router-outlet></router-outlet>
    </div>
    <ng-template #notLoggedIn>
<p   *ngIf="!auth.isAuthenticated()">Please log in.</p>

    </ng-template>

  </div>
  </div>
</div>
